.footer{
    display: flex;
    align-self:center;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:inherit;
    column-gap: inherit;
}
.foot{
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    font-size: 1.1rem;
    opacity: 0.7;
}
.Nov{
    display: flex;
    align-self:center;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:inherit;
    column-gap: inherit;
}


.foot{
    border: 2px solid transparent;
    border-radius: 50px;
    opacity: 0.9;
}

.foot:hover{
    border: 2px solid white;
    border-radius: 50px;
    background-color: black;
    color: white;
    opacity: 0.7;
}

.footer:hover{

    color: white;
}

.icon-1:hover{

    color: white;
}

.icon-2:hover{

    color: white;
}

.icon-3:hover{

    color: white;
}

.icon-4:hover{

    color: white;
}
.icon-1{
    font-size: 50px;
}
.icon-2{
    font-size: 50px;
}
.icon-3{
    font-size: 50px;
}
.icon-4{
    font-size: 50px;
}