/* style__animation */
.block__animation {
    display: flex;
    height: 45svh;
}

.container__animation__main {
    display: block;
    overflow: hidden;
    border-radius: 50px;
}

.container__animation__main li {
    list-style: none;
    animation: cambio 8s infinite alternate;
}

.container__animation__main a img {
    width: 350px;
    height: 300px;
}


@keyframes cambio{
    0%{margin-top: 0%;}
    16%{margin-top: -33%;}
    
    32%{margin-top: -50%;}

    60%{margin-top: -70%;}

    100%{margin-top: -100%;}
}

